{% extends 'main/base.html' %}
<!doctype html>
<html lang="en">
{% load static %}

{% block bootstrap %} 
{{block.super}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@800&display=swap" rel="stylesheet">
{% endblock bootstrap %}

{% block title %}
IM-Coder - Heaven for Programmers
{% endblock %} 

{% block css %} 
{{block.super}}
    <style>
      .about-content
        {
            font-family: 'Baloo Tamma 2', cursive;
        }
    </style>
{% endblock css %}


{% block content %}
    <!-- About US -->

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About Us</h1>
        <p class="lead text-muted mb-0">Want to learn something new in Computer Science field?
                        If Yes!! then you are at right place. <strong>IM-Coder</strong></p>
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Everyone can Code :)</h2>
        <p class="font-italic text-muted mb-4" style=" text-align: justify; "><br>
                    Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include teaching, training, storytelling, discussion and directed research.
                    Educational website can include websites that have games, videos or topic related resources that act as tools to enhance learning and supplement classroom teaching. These websites help make the process of learning entertaining and attractive to the student, especially in today's age.
                    Using HTML(HyperText Markup Language), CSS(Cascading Style Sheet), JavaScript, we can make learning more easier and in a interesting way.
                    <br>
                    We the team of IM-CODER providing you the best courses from various platforms. As technology is becoming very advanced. So it's necessary for a person in computer science to be updated with the trend. This platform is providing courses which are in trend now-a-days.
                    <br>
                <br>
            Technologies like Machine Learning, Artificial Intelligence, Data Science, Cloud Computing, Web Development, Android Development are in trend. so it has become necessary for a person to learn about these technologies to stand out in this tech world.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
</div>

    <!-- <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <article class="post-preview  about-content">
                    <h2 class="post-title">EVERYONE CAN CODE :)</h2>

                    <marquee><h3 class="post-subtitle">Want to learn something new in Computer Science field?
                        If Yes!! then you are at right place.</marquee>
                    </h3>

                </a>
                <p class="post-meta"> <span class="reading-time" title="Estimated read time">
                 <strong> What you think about us ? </strong>
                    <br>
                    Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include teaching, training, storytelling, discussion and directed research.
                    Educational website can include websites that have games, videos or topic related resources that act as tools to enhance learning and supplement classroom teaching. These websites help make the process of learning entertaining and attractive to the student, especially in today's age.
                    Using HTML(HyperText Markup Language), CSS(Cascading Style Sheet), JavaScript, we can make learning more easier and in a interesting way.
                    <br>
                    We the team of IM-CODER providing you the best courses from various platforms. As technology is becoming very advanced. So it's necessary for a person in computer science to be updated with the trend. This platform is providing courses which are in trend now-a-days.
                    <br>
                <br>
            Technologies like Machine Learning, Artificial Intelligence, Data Science, Cloud Computing, Web Development, Android Development are in trend. so it has become necessary for a person to learn about these technologies to stand out in this tech world.
            </span>

                </p>
            </article>
        </div>
 -->



    <!--Login Modal -->
    <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">Login to IM-Coder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <input type="submit" value="Login" class="btn btn-primary">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Signup Modal -->
    <div class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="SignupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignupModalLabel">Get an IM-Coder Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="cexampleInputPassword1" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="cexampleInputPassword1">
                        </div>
                        <input type="submit" value="Create Account" class="btn btn-primary">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}